extends ../includes/layout
block title
    title 联系我们
block style
    link(rel='stylesheet', type='text/css', href='/stylesheets/about.css')
block content
    //公共头部
    include ../includes/header
    //联系我们内容
    div.main_about 联系我们
    //公共底部
    include ../includes/footer
block script
    script(type='javascript', src='/javascripts/about.js')