doctype html
html
    head
        meta(charset='UTF-8')
        meta(http-equiv='Content-Language', content='zh-CN')
        meta(http-equiv='X-UA-Compatible', content='edge')
        meta(name='author', content='mondora.cn')
        meta(name='Copyright', content='mondora.cn')
        meta(name='keywords', content='')
        meta(name='description', content='')
        block title
        link(rel='icon',href='/images/common/favicon.ico',type='image/x-icon')
        link(rel='stylesheet',type='text/css', href='/stylesheets/common.css')
        block style
    body
        block content
        script(src='/lib/jquery/jquery.min.js')
        block script
