extends ../includes/layout
block title
    title 产品服务
block style
    link(rel='stylesheet', type='text/css', href='/stylesheets/about.css')
block content
    //公共头部
    include ../includes/header
    //产品服务内容
    div.main_about 产品服务
    //公共底部
    include ../includes/footer
block script
    script(type='javascript', src='/javascripts/about.js')