extends ../includes/layout
block title
    title 新闻页面--列表页面
block style
    link(type='stylesheet', href='/stylesheets/about.css')
block content
    //公共头部
    include ../includes/header
    //新闻页面内容
    div.main_about 新闻页面
    //公共底部
    include ../includes/footer
block script
    script(type='javascript', src='/javascripts/about.js')